print-summary = yes

exclude-throw-branches = yes
exclude-unreachable-branches = yes

exclude = ext/bcmath/libbcmath/.*
exclude = ext/date/lib/.*
exclude = ext/fileinfo/libmagic/.*
exclude = ext/gd/libgd/.*
exclude = ext/hash/sha3/.*
exclude = ext/lexbor/lexbor/.*
exclude = ext/mbstring/libmbfl/.*
exclude = ext/opcache/jit/ir/.*
exclude = ext/pcre/pcre2lib/.*
exclude = ext/uri/uriparser/.*

# These patterns have implicit ^/$ anchors.
exclude-lines-by-pattern = .*\b(ZEND_PARSE_PARAMETERS_(START|END|NONE)|Z_PARAM_).*
exclude-lines-by-pattern = \s*(default:\s*)?ZEND_UNREACHABLE\(\);\s*
